/* You can add global styles to this file, and also import other style files */
/* Styles go here */
html, body{
  margin:0;
  padding: 0;
  background-color: #F8F8F8;
  font-family: 'Roboto', 'Arial', sans-serif;
}

h1{
  font-family: 'Open Sans', 'Arial', sans-serif;
}
.loading-screen{
  opacity: 0;
  z-index: -1;
  transition: opacity .8s ease-in-out;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #ecf0f1;
  background: #1353AB; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #1353AB , #2E7BC5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #1353AB, #2E7BC5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #1353AB, #2E7BC5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #1353AB , #2E7BC5); /* Standard syntax */

}

my-app:empty + .loading-screen {
    opacity: 1;
    z-index: 100;
}

.light-heading{
  font-weight: 100;
}

.intro-spinner{
  margin-left: 5px;
  color: #ecf0f1 ;
}